<section class="login-form">
  <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <input 
        type="email" 
        formControlName="email" 
        placeholder="Your email" 
        matInput>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">Enter your email.</mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('email')">E-mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      type="password" 
      formControlName="password" 
      placeholder="Your password" 
      matInput>
      <mat-hint align="end">{{loginForm.get('password').value ? loginForm.get('password').value.length : 0}} / 6</mat-hint>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">Enter your password.</mat-error>
    </mat-form-field>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- <p>
      Form Value: {{loginForm.value | json}}<br><br>
      Form Status: {{ loginForm.status }}
    </p> -->
  </form>
</section>